<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-100">
		<article class="">
			<table class="table text-center">
				<thead>
					<tr class="col">
						<th scope="col">상품 사진</th>
						<th scope="col">상품 이름</th>
						<th scope="col">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${club != null}">
						<td><img width="100px" th:src="${club.clubImagePath}"></td>
						<td th:text="${product.productSubject}">adsfasfdasfadsfasf</td>
						<td th:text="|${club.clubPrice}원|">19000원</td>
					</tr>
					<tr th:if="${equipment != null}">
						<td><img width="100px" th:src="${equipment.equipmentImagePath}"></td>
						<td th:text="${product.productSubject}">adsfasfdasfadsfasf</td>
						<td th:text="|${equipment.equipmentPrice}원|">19000원</td>
					</tr>
				</tbody>
			</table>
		</article>
		<span th:text="${product.id}" class="d-none"></span>
		<hr>
		<div class="d-flex justify-content-end">
			<span id="product_price">19000</span>
			<!-- <span th:if="${club != null}" class="mr-5" th:text="|${club.clubPrice}원|">총가격: 19000원</span>
			<span th:if="${equipment != null}" class="mr-5 product_price" th:text="$|{equipment.equipmentPrice}원|">총가격: 19000원</span> -->
		</div>
		<hr>
		
		<div class="d-flex my-2">
			<span class="col-3 text-center">이름</span>
			<input type="text" id="name" name="name" class="form-control col-6" placeholder="이름을 입력하세요" th:value="${user.name}">
		</div>
		<div class="d-flex my-2">
			<span class="col-3 text-center">주소</span>
			<input type="text" id="address" name="adress" class="form-control col-6" placeholder="주소를 입력하세요" th:value="${user.address}">
		</div>
		<div class="d-flex">
			<span class="col-3 text-center">전화 번호</span>
			<input type="text" id="phoneNumber" name="phoneNumber" class="form-control col-6" placeholder="전화번호를 입력하세요" th:value="${user.phoneNumber}">
		</div>
		<article class="mt-5 ml-5">
			<div id="paymentMethod" class="d-flex ml-5 my-5">
				<button type="button" class="no_card btn btn-info mt-5">무통장 입금</button>
				<button type="button" class="btn btn-info ml-5 mt-5 has_card">카드 결제</button>
			</div>
			<div id="no_card" class="d-none">
				<div class="d-flex justify-content-center">
					<div class="w-25 text-center d-none d-flex justify-content-between">
						<select id="selectBox">
							<option>선택</option>
							<option id="wori">우리</option>
							<option id="sinhan">신한</option>
							<option id="sinhan">기업</option>
						</select>
						<span class="wori d-none">000000-000-00</span>
						<span class="sinhan d-none">1111-11-1110</span>
						<span class="giup d-none">0222220-0220-020</span>
					</div>
				</div>
			</div>
			<div id="has_card" class="d-none">
				<h1>카드 결제</h1>
			</div>
			
			<div class="d-flex justify-content-end mt-5 pr-5">
				<button id="payment_btn" type="button" class="btn btn-primary mr-5 d-none" th:data-product-id="${product.id}">결제 하기</button>
			</div>
		</article>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function(){
			
			$(".no_card").on('click', function(){
				$("#no_card").removeClass("d-none");
				$("#has_card").addClass("d-none");
				$("#payment_btn").addClass("no_card");
				$("#payment_btn").removeClass("has_card");
			});
			
			$(".has_card").on('click', function(){
				$("#no_card").addClass("d-none");
				$("#has_card").removeClass("d-none");
				$("#payment_btn").removeClass("d-none");
				$("#payment_btn").addClass("has_card");
				$("#payment_btn").removeClass("no_card");
			});
			
			
			$("#selectBox").on('change',function(){
				$(".wori").addClass("d-none");
				$(".sinhan").addClass("d-none");
				$(".giup").addClass("d-none");
				
				let noCard = $("#selectBox").val();

				if(noCard == "우리"){
					$(".wori").removeClass("d-none");
					$("#payment_btn").removeClass("d-none");
				} else if(noCard == "신한"){
					$(".sinhan").removeClass("d-none");
					$("#payment_btn").removeClass("d-none");
				} else {
					$(".giup").removeClass("d-none");
					$("#payment_btn").removeClass("d-none");
				}
				
			});

			$("#payment_btn").on('click',function(){
				let name = $("#name").val().trim();
				let address = $("#address").val().trim();
				let phoneNumber = $("#phoneNumber").val().trim();
				let productId = $(this).data("product-id");
				let product_price = $("#product_price").val().trim();
				let paymentMethod = $("#payment_btn").attr('class');
				
				if(paymentMethod.includes("no_card") == true){
					paymentMethod = "no_card";
					// console.log("no_card");
				} else{
					paymentMethod = "has_card";
					// console.log("has_card");
				}
				
				console.log(paymentMethod);
				console.log(product_price);
				
				$.ajax({
					method:"post"
					,url:"/product/order-insert"
					,data:{"orderName": name, "orderAddress":address , "orderPhoneNumber": phoneNumber, "productId": productId , "paymentMethod":paymentMethod}
					,success:function(data){
						if(data.code == 200){
							alert("주문이 완료되었습니다.")
							location.href="/product/done-view?id="+data.orderId;
						} else {
							alert("잘못 입력햇습니다.");
						}
					}
					,error:function(e){
						alert("에러 발생")
					}
					
				});
				
			});
			
			
		});
    </script>
</th:block>