<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-100">
		<article class="">
			<table class="table text-center">
				<thead>
					<tr class="col">
						<th scope="col">상품 사진</th>
						<th scope="col">상품 이름</th>
						<th scope="col">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img width="100px" src="/image/golf1.jpg"></td>
						<td>adsfasfdasfadsfasf</td>
						<td>19000원</td>
					</tr>
				</tbody>
			</table>
		</article>
		<hr>
		<div class="d-flex justify-content-end">
			<span class="mr-5">총가격: 19000원</span>
		</div>
		<hr>
		
		<div class="d-flex my-2">
			<span class="col-3 text-center">이름</span>
			<input type="text" id="name" name="name" class="form-control col-6" placeholder="이름을 입력하세요">
		</div>
		<div class="d-flex my-2">
			<span class="col-3 text-center">주소</span>
			<input type="text" id="adress" name="adress" class="form-control col-6" placeholder="주소를 입력하세요">
		</div>
		<div class="d-flex">
			<span class="col-3 text-center">전화 번호</span>
			<input type="text" id="phoneNumber" name="phoneNumber" class="form-control col-6" placeholder="전화번호를 입력하세요">
		</div>
		<article class="mt-5 ml-5">
		<div class="d-flex mt-5 ml-5">
			<button type="button" class="btn btn-info mt-5">무통장 입금</button>
			<button type="button" class="btn btn-info ml-5 mt-5">카드 결제</button>
		</div>
		
		</article>
	</div>
</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>