<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="container w-100">
		<div class="box w-100 d-flex align-items-center justify-content-center">
			<!-- 상품이미지 -->
			<div class="col-6 d-flex justify-content-center">
				<img width="90%" src="/image/golf1.jpg">
			</div>
			<!-- 상품 구매 -->
			<div class="col-6 d-flex justify-content-center">
				<div>
					<div><h1>제목</h1></div>
					<div class="my-2"><h3>가격</h3></div>
					<div class="my-4">
						<select class="form-control text-center">
							<option>상품</option>
							<option>상품</option>
						</select>
					</div>
					<div class="mb-4">
						<select class="form-control text-center">
							<option>상품</option>
							<option>상품</option>
						</select>
					</div>
					<div class="mb-4">
						<select class="form-control text-center">
							<option>상품</option>
							<option>상품</option>
						</select>
					</div>
					<div>
						<button type="button" class="btn btn-info mx-3">장바구니</button>
						<button type="button" class="btn btn-info ml-5" onclick="location.href='/product/order-view'">구매하기</button>
					</div>
				</div>
			</div>
		</div>
		
		<hr>
		<!-- 상품 설명 -->	
		<div class="info_box w-100 text-center d-flex align-items-center justify-content-center">
			<a class="product_info on col-6">상품 상세 정보</a>
			<a class="product_star text-light col-6">상품평</a>
		</div>
		<div class="info_text w-100 text-center d-flex align-items-center justify-content-center pt-3">
			<div id="infomation">
				<img width="90%" src="/image/golf1.jpg" alt="상품설명">
				<div>dfgagdagdasgsagsg</div>
			</div>
			
			<div id="review" class="d-none">
				<div class="d-flex align-items-center">
					<ul class ="star_rating pr-2">
					  <li class="star" id="1"></li>
					  <li class="star" id="2"></li>
					  <li class="star" id="3"></li>
					  <li class="star" id="4"></li>
					  <li class="star" id="5"></li>
					</ul>
					
					<textarea class="star_box mr-2" placeholder="리뷰 내용을 작성해주세요." ></textarea>
					
					<button type="button" class="btn02">등록</button>
					<button type="button" class="btn btn-info review-btn">rrrr</button>
				</div>
				
				<hr>
				<div>
					<div class="review-comment-list"> 
						<div class="review-comment d-flex justify-content-start align-content-center">
								<span class="font-weight-bold">작성자</span>
								<span class="review-comment-text pl-5">asdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffffsdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffffsdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffffsdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffff</span>
								<a href="#" class="review-del-btn ml-5">
									<img alt="취소" src="/image/x-icon.png" width="10" height="10">
								</a>
						</div>
						<div class="review-comment d-flex justify-content-start align-content-center">
								<span class="font-weight-bold">작성자</span>
								<span class="review-comment-text pl-5">asdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffffsdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffffsdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffffsdgdasgasgasgsadsagsadgadsfasfasfsafasfsafasfdasfsdafffffffffffffffffffffffffffffffff</span>
								<a href="#" class="review-del-btn ml-5">
									<img alt="취소" src="/image/x-icon.png" width="10" height="10">
								</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function(){
			$('.star_rating > .star').on('click',function() {
				  $(this).parent().children('li').removeClass('on');
				  $(this).addClass('on').prevAll('li').addClass('on');
			});
			
			
			$(".review-btn").on('click',function(){
				for(let i = 1; i<=5; i++){
					console.log($("#'${i}'").val())
				}
			});
			
			
			
			$(".product_info").on('click',function(){
				$(".product_info").addClass("on");
				$(".product_info").removeClass("text-light");
				$(".product_star").removeClass("on");
				$(".product_star").addClass("text-light");
				$("#infomation").removeClass("d-none");
				$("#review").addClass("d-none");
				
			});
			
			$(".product_star").on('click',function(){
				$(".product_star").addClass("on");
				$(".product_star").removeClass("text-light");
				$(".product_info").removeClass("on");
				$(".product_info").addClass("text-light");
				$("#infomation").addClass("d-none");
				$("#review").removeClass("d-none");
				
			});
			
		});
    </script>
</th:block>