<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="container w-100">
		<div class="box w-100 d-flex align-items-center justify-content-center">
			<!-- 상품이미지 -->
			<div class="col-6 d-flex justify-content-center">
				<img width="90%" src="/image/golf1.jpg">
			</div>
			<!-- 상품 구매 -->
			<div class="col-6 d-flex justify-content-center">
				<div>
					<div><h1>제목</h1></div>
					<div class="my-2"><h3>가격</h3></div>
					<div class="my-4">
						<select class="form-control text-center">
							<option>상품</option>
							<option>상품</option>
						</select>
					</div>
					<div class="mb-4">
						<select class="form-control text-center">
							<option>상품</option>
							<option>상품</option>
						</select>
					</div>
					<div class="mb-4">
						<select class="form-control text-center">
							<option>상품</option>
							<option>상품</option>
						</select>
					</div>
					<div>
						<button type="button" class="btn btn-info mx-3">장바구니</button>
						<button type="button" class="btn btn-info ml-5" onclick="location.href='/product/order-view'">구매하기</button>
					</div>
				</div>
			</div>
		</div>
		
		<hr>
		<!-- 상품 설명 -->	
		<div class="info_box w-100 text-center d-flex align-items-center justify-content-center">
			<a class="product_info on col-6">상품 상세 정보</a>
			<a class="product_star text-light col-6">상품평</a>
		</div>
		<div class="info_text w-100 text-center d-flex align-items-center justify-content-center pt-3">
			<div id="infomation" class="d-none">
				<img width="90%" src="/image/golf1.jpg" alt="상품설명">
				<div>dfgagdagdasgsagsg</div>
			</div>
			
			<div id="review">
					<div class="">
						<a id="star1"><img width="30px" src="/image/star_empty.png"></a>
						<a id="star2"><img width="30px" src="/image/star_empty.png"></a>
						<a id="star3"><img width="30px" src="/image/star_empty.png"></a>
						<a id="star4"><img width="30px" src="/image/star_empty.png"></a>
						<a id="star5"><img width="30px" src="/image/star_empty.png"></a>
					</div>
					
					<div class="point_box">
						<span class="font-weight-bold">이정재</span>
						<small class="text-secondary d-block my-2">yyyy년 M월 d일</small>
						<div class="my-2">adfasfasf</div>
						<small class="menu-box rounded p-1">드라이버</small>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function(){
			
			$(".product_info").on('click',function(){
				$(".product_info").addClass("on");
				$(".product_info").removeClass("text-light");
				$(".product_star").removeClass("on");
				$(".product_star").addClass("text-light");
				$("#infomation").removeClass("d-none");
				
			});
			
			$(".product_star").on('click',function(){
				$(".product_star").addClass("on");
				$(".product_star").removeClass("text-light");
				$(".product_info").removeClass("on");
				$(".product_info").addClass("text-light");
				$("#infomation").addClass("d-none");
				
			});
			
		});
    </script>
</th:block>