<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="sign-up-box ml-5">		
		<span>클럽/용품</span>
		<div class="m-3">
			<select name="golf" id="golf">
				<option value="clubId">클럽</option>
				<option value="equipmentId">용품</option>
			</select>
		</div>
		
		<div class="type m-3">
			<select name="golfclub" id="golfclub" class="">
				<th:block th:each="club: ${golfClubs}">
					<option th:text="${club.clubName}" th:value="${club.id}"></option>
				</th:block>
			</select>
			<select name="golfEquipment" id="golfEquipment" class="d-none">
				<th:block th:each="Equipment : ${golfEquipments}">
					<option th:text="${Equipment.equipmentName}" th:value="${Equipment.id}" ></option>
				</th:block>
			</select>
		</div>

		<span class="sign-up-subject">상품 제목</span>
		<div class="m-3">
			<input type="text" id="productSubject" name="productSubject" class="form-control col-6" placeholder="이름을 입력하세요">
		</div>
		
		<span class="sign-up-subject">상품 정보</span>
		<div class="m-3">
			<input type="text" id="productInformationText" name="productInformationText" class="form-control col-6" placeholder="스펙을 입력하세요">
		</div>
		
		<span class="sign-up-subject">상품 정보 이미지</span>
		<div class="m-3">
			<div class="file-upload d-flex align-items-center">
				<input type="file" id="file" class="d-none" accept=".jpg, .png, .gif">
				
				<a href="#" id="fileUploadBtn" class="btn btn-info">이미지 입력</a>
				
				<div id="fileName" class="ml-2"></div>
			</div>
		</div>
		
		<div class="d-flex justify-content-center m-3">
			<button id="productCreateBtn" class="btn btn-info">상품 입력</button>
		</div>
		
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    $(document).ready(function(){
    	
    	$("#golf").on('change',function(){
    		let golf = $(this).val();
    		
    		if(golf == "clubId"){
    			$("#golfclub").removeClass("d-none");
    			$("#golfEquipment").addClass("d-none");
    		} else {
    			$("#golfclub").addClass("d-none");
    			$("#golfEquipment").removeClass("d-none");
    		}
    	});
    	
    	$("#fileUploadBtn").on('click', function(e){
			e.preventDefault(); // 위로 올라가는 현상 방지
			// alert("클릭");
			$("#file").click();
		});
		
		//파일이 선택될 때 --> 유효성 체크 , 파일명 노출
		$("#file").on('change', function(e){
			//취소를 누를 때 처리(파일이 비워지므로 .name에서 에러 발생)
			let file = e.target.files[0];
			if (file == null ){
				$("#file").val("");
				$("#fileName").text("");
				return;
			}
			
			//alert("이미지 선택");
			let fileName = e.target.files[0].name; // bord.jpg
			console.log(fileName);
			
			//확장자 validation
			let ext = fileName.split(".").pop().toLowerCase();
			console.log(ext);
			
			if (ext != "gif" && ext != "png" && ext != "jpg") {
				alert("이미지 파일만 업로드 할 수 있습니다.");
				$("#file").val("");// 파일 태그에 올라온 것 제거(보이지 않지만 꼭! 처리)
				$("#fileName").text(""); // 보여지고 있는 파일명 초기화
				return;
			}
			
			// 2. 파일명 노출
			$("#fileName").text(fileName);
		});
		
		function club_or_equipment(club, equipment) {
			  return width * height;
		}
		
		$("#productCreateBtn").on('click',function(){
			let golf= $("#golf").val();
			let productSubject= $("#productSubject").val().trim();
			let productInformationText= $("#productInformationText").val().trim();
			let fileName = $("#file").val();
			 
			
			
			
			//유효성 검사 
			if(fileName == ""){
				alert("사진을 입력해주세요.");
				return ;
			}


			let formData = new FormData();
			formData.append("productSubject",productSubject);
			formData.append("productInformationText",productInformationText);
			formData.append("file",$("#file")[0].files[0]);
			
			if(golf == "clubId"){
				let clubId = $("#golfclub").val();
				formData.append("clubId",clubId);
			} else {
				let equipmentId = $("#golfEquipment").val();
				formData.append("equipmentId",equipmentId);
			}
			
			console.log(formData)
			
		 	$.ajax({
				method:"post"
				,url:"/admin/insert-product"
				,data:formData
				,enctype:"multipart/form-data"
				,processData:false
				,contentType:false
				,success:function(data){
					if(data.code == 200){
						alert("성공")
					}
				}
				,error:function(e){
					alert("에러 발생");
				}
			}) 
			
			
		});
		
		
		
		
		
    });

    </script>
</th:block>