<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/config :: configFragment"> </th:block>
</head>
<body>
    <!-- header -->
    <header th:replace="fragments/header :: headerFragment"></header>
	
	<!--  nav -->
	<nav th:replace="fragments/nav :: navFragment"></nav>
    
    <!-- content -->
    <div class="mt-5"></div>
    <div layout:fragment="content"></div>

    <!-- script -->
    <div layout:fragment="script"></div>

    <!-- footer -->
    <footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>