<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.MyGolfTown.admin.mapper.AdminMapper">
 	<insert id="insertGolfClub" parameterType="map">
 		INSERT INTO `golfClub`
 		(
	 		`usedClub`
			,`clubType`
			,`clubName`
			,`clubImagePath`
			,`clubSpecification`
			,`clubCount`
			,`clubPrice`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{usedClub}
 			,#{clubType}
 			,#{clubName}
 			,#{imagePath}
 			,#{clubSpecification}
 			,#{clubCount}
 			,#{clubPrice}
 			,NOW()
 			,NOW()
 		) 
 	</insert>
 	
 	<insert id="insertGolfEquipment" parameterType="map">
 		INSERT INTO `golfEquipment`
 		(
			`equipmentType`
			,`equipmentName`
			,`equipmentImagePath`
			,`equipmentSpecification`
			,`equipmentCount`
			,`equipmentPrice`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{equipmentType}
 			,#{equipmentName}
 			,#{imagePath}
 			,#{equipmentSpecification}
 			,#{equipmentCount}
 			,#{equipmentPrice}
 			,NOW()
 			,NOW()
 		) 
 	</insert>
 	
 	<insert id="insertProduct" parameterType="map">
 		INSERT INTO `product`
 		(
			`clubId`
			,`equipmentId`
			,`productSubject`
			,`productInformationText`
			,`productInformationImagePath`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{clubId}
 			,#{equipmentId}
 			,#{productSubject}
 			,#{productInformationText}
 			,#{imagePath}
 			,NOW()
 			,NOW()
 		) 
 	</insert>
 </mapper>