<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.MyGolfTown.product.mapper.OrderMapper">
 	<insert id="insertOrder" parameterType="com.MyGolfTown.product.domain.Order" useGeneratedKeys="true">
 		INSERT INTO `order`
 		(
 		`userId`
		,`productId`
		,`orderName`
		,`orderPhoneNumber`
		,`orderAddress`
		,`paymentMethod`
		,`orderStatus`
		,`price`
		,`createdAt`
		,`updatedAt`
 		)
 		VALUES
 		(
 		#{userId}
 		,#{productId}
 		,#{orderName}
 		,#{orderPhoneNumber}
 		,#{orderAddress}
 		,#{paymentMethod}
 		,#{orderStatus}
 		,#{price}
 		,NOW()
 		,NOW()
 		)
 	</insert>
	<select id="selectOrderById" resultType="com.MyGolfTown.product.domain.Order">
		SELECT
			`id`
			,`userId`
			,`productId`
			,`orderName`
			,`orderPhoneNumber`
			,`orderAddress`
			,`paymentMethod`
			,`orderStatus`
			,`price`
			,`invoiceNumber`
			,`createdAt`
			,`updatedAt`
		FROM
			`order`
		WHERE
			`id`=#{id}
	</select>
 </mapper>