<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-100">
	
		<div class="AdvertisingBox d-flex justify-content-center pb-3">
			<img id="Advertising1" src="/image/golf1.jpg">
		</div>
		
		<div class="d-flex p-3">
			<span class="title_box">추천 우선 순위</span>
		</div>
	
		<div class="productBOX row row-cols-5">
			<div class="col">
	           <article>
	               <img class="product_img" src="/image/golf1.jpg" alt="상품2">
	               <div class="font-weight-bold">[1 + 1] 기본 버튼 반팔티</div>
	               <div>7,000원</div>
	           </article>
	        </div>
	        <div class="col">
	           <article>
	               <img class="product_img" src="/image/golf1.jpg" alt="상품2">
	               <div class="font-weight-bold">[1 + 1] 기본 버튼 반팔티</div>
	               <div>7,000원</div>
	           </article>
	        </div>
	        <div class="col">
	           <article>
	               <img class="product_img" src="/image/golf1.jpg" alt="상품2">
	               <div class="font-weight-bold">[1 + 1] 기본 버튼 반팔티</div>
	               <div>7,000원</div>
	           </article>
	        </div>
	        <div class="col">
	           <article>
	               <img class="product_img" src="/image/golf1.jpg" alt="상품2">
	               <div class="font-weight-bold">[1 + 1] 기본 버튼 반팔티</div>
	               <div>7,000원</div>
	           </article>
	        </div>
	        <div class="col">
	           <article>
	               <img class="product_img" src="/image/golf1.jpg" alt="상품2">
	               <div class="font-weight-bold">[1 + 1] 기본 버튼 반팔티</div>
	               <div>7,000원</div>
	           </article>
	        </div>
    	</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    let bannerSrcArr = ['/image/golf1.jpg', '/image/golf2.jpg', '/image/golf3.jpg'];
    let currentIndex = 0;
    setInterval(function() {
        $('#Advertising1').attr('src', bannerSrcArr[currentIndex]);
        currentIndex++;

        if (currentIndex > bannerSrcArr.length) { 
            currentIndex = 0;
        }
    }, 3000);
    </script>
</th:block>