<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-100 pt-5">
	
		<div class="AdvertisingBox d-flex justify-content-center">
			<img id="Advertising1" src="/image/golf1.jpg">
		</div>
		
		<div class="d-flex p-3">
			<h4>추천 우선 순위</h4>
		</div>
	
		<div class="productBOX d-flex justify-content-between">
           <a class="product_subject" href="#">
               <img class="product_img" src="/image/golf1.jpg" alt="상품1">
               <div class="font-weight-bold">리얼 가죽 무스탕</div>
               <div>55,000원</div>
           </a>
           <article>
               <img class="product_img" src="/image/golf1.jpg" alt="상품2">
               <div class="font-weight-bold">[1 + 1] 기본 버튼 반팔티</div>
               <div class="text-secondary"><del>15,000원</del></div>
               <div>7,000원</div>
           </article>
           <article>
               <img class="product_img" src="/image/golf1.jpg" alt="상품3">
               <div class="font-weight-bold">정장 스타일 무지 조끼</div>
               <div class="text-secondary"><del>45,000원</del></div>
               <div>40,000원</div>
           </article>
           <article>
               <img class="product_img" src="/image/golf1.jpg" alt="상품4">
               <div class="font-weight-bold">스키니핏 씨블루 정장 자켓</div>
               <div class="text-secondary"><del>53,000원</del></div>
               <div>45,000원</div>
           </article>
           <article>
               <img class="product_img" src="/image/golf1.jpg" alt="상품5">
               <div class="font-weight-bold">프리미엄 올라운드 데님셔츠</div>
               <div class="text-secondary"><del>33,000원</del></div>
               <div>30,000원</div>
           </article>
    	</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    let bannerSrcArr = ['/image/golf1.jpg', '/image/golf2.jpg', '/image/golf3.jpg'];
    let currentIndex = 0;
    setInterval(function() {
        $('#Advertising1').attr('src', bannerSrcArr[currentIndex]);
        currentIndex++;

        if (currentIndex > bannerSrcArr.length) { 
            currentIndex = 0;
        }
    }, 3000);
    </script>
</th:block>