<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<nav th:fragment="navFragment" class="navbar navbar-expand-sm navbar-light bg-secondary w-100 d-flex align-items-center justify-content-between">
		<ul class="navbar-nav">
	    <li class="nav-item dropdown">
	        <a class="nav-link" href="#" data-toggle="dropdown">골프 클럽</a>
	        <div class="dropdown-menu">
	          <a class="dropdown-item" href="/golf/driver-view">드라이버</a>
	          <a class="dropdown-item" href="/golf/iron-view">유틸/우드</a>
	          <a class="dropdown-item" href="/golf/util-wood-view">아이언</a>
	          <a class="dropdown-item" href="/golf/wedge-view">웨 지</a>
	          <a class="dropdown-item" href="/golf/putter-view">퍼 터</a>
	          <a class="dropdown-item" href="/golf/women-club-view">여성 클럽</a>
	          <a class="dropdown-item" href="/golf/fullset-view">풀세트</a>
	          <a class="dropdown-item" href="/golf/shaft-view">샤프트</a>
	        </div>
	      </li>
	   	</ul>
	   	
	   	<ul class="navbar-nav">
	      <li class="nav-item dropdown">
	        <a class="nav-link" href="#" data-toggle="dropdown">중고 클럽</a>
	        <div class="dropdown-menu">
	          <a class="dropdown-item" href="#">드라이버</a>
	          <a class="dropdown-item" href="#">유틸/우드</a>
	          <a class="dropdown-item" href="#">아이언</a>
	          <a class="dropdown-item" href="#">웨 지</a>
	          <a class="dropdown-item" href="#">퍼 터</a>
	          <a class="dropdown-item" href="#">여성 클럽</a>
	          <a class="dropdown-item" href="#">풀세트</a>
	          <a class="dropdown-item" href="#">샤프트</a>
	        </div>
	      </li>
	   	</ul>
	   	
	   	<ul class="navbar-nav">
	      <li class="nav-item dropdown">
	        <a class="nav-link" href="#" data-toggle="dropdown">골프 용품</a>
	        <div class="dropdown-menu">
	          <a class="dropdown-item" href="#">골프공</a>
	          <a class="dropdown-item" href="#">골프 장갑</a>
	          <a class="dropdown-item" href="#">골프백</a>
	          <a class="dropdown-item" href="#">모자/벨트</a>
	          <a class="dropdown-item" href="#">거리측정기</a>
	          <a class="dropdown-item" href="#">기타</a>
	        </div>
	      </li>
	    </ul>
	</nav>
</html>